@font-face{
	font-family: 'Merriweather-Bold';
    src: url("../assets/fonts/Merriweather-Bold.ttf") format("truetype");
}
@font-face{
	font-family: 'Merriweather-Regular';
    src: url("../assets/fonts/Merriweather-Regular.ttf") format("truetype");
}
@font-face{
	font-family: 'Merriweather-Italic';
    src: url("../assets/fonts/Merriweather-Italic.ttf") format("truetype");
}
@font-face{
	font-family: 'Montserrat-Bold';
    src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face{
	font-family: 'Montserrat-Regular';
    src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face{
	font-family: 'Raleway-Medium';
    src: url("../assets/fonts/Raleway-Medium.ttf") format("truetype");
}
@font-face{
	font-family: 'Raleway-Regular';
    src: url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face{
	font-family: 'MyriadRegular';
    src: url("../assets/fonts/MyriadRegular.ttf") format("truetype");
}
@font-face{
	font-family: 'MyriadProRegular';
    src: url("../assets/fonts/MyriadPro-Regular.ttf") format("truetype");
}
