@import 'fonts';

body {
  max-width: 1440px;
  width: 100%;
}
.container {
  width: 100%;
  // position: relative;
  overflow: hidden;
}
h1, h2, h3 {
  margin: 0;
  text-align: center;
}
.header {
  height: 807px;
  background-color: #EFF0F2;
  font-family: "Montserrat-Bold", "MyriadProRegular";
}
.header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 62px;
  margin-bottom: 103px;
}
.logo-inner {
  width: 110px;
  height: 43px;
  border: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: 17px;
}
.logo-span {
  font-size: 19px;
  color: #77EFE5;
}
.header-caption-inner {
 margin-bottom: 149px;
}
.header-caption {
  font-size: 45px;
}
.header-caption-span {
  background-color: #77EFE5;
  font-family: "Montserrat-Bold", "MyriadProRegular";
}
.header-button {
  display: block;
  margin: auto;
  width: 231px;
  height: 52px;
  border: 2px solid black;
  font-size: 18px;
  font-family: "Montserrat-Regular", "MyriadRegular";
}
.title {
  font-size: 38px;
  font-family: "Montserrat-Bold", "MyriadProRegular";
  text-align: center;
  line-height: 0.8;
}
.subtitle {
  font-size: 18px;
  font-family: "Merriweather-Regular", "MyriadRegular";
  text-align: center;
  line-height: 0.9;
}
.main-sectionAboutUs {
  height: 986px;
  background-color: #F8FAFA;
}
.sectionAboutUs-title {
  padding-top: 130px;
  margin-bottom: 17px;
}
.sectionAboutUs-subtitle {
  margin-bottom: 70px;
}
.sectionAboutUs-inner {
  display: flex;
  justify-content: space-between;
  max-width: 1039px;
}
.sectionAboutUs-slader-inner {
  position: relative;
  width: 480px;
  height: 413px;
  background-color: #EDEEF0;
}
.sectionAboutUs-slader {
  position: absolute;
  width: 393px;
  height: 494px;
  border: 1px solid black;
  left: 9%;
  top: -20px;
}
.sectionAboutUs-content {
  max-width: 474px;
}
.sectionAboutUs-content-title1,
.sectionAboutUs-content-title2,
.sectionServices-item-title {
  font-size: 27px;
  font-family: "Merriweather-Bold", "MyriadProRegular";
  line-height: 0.8;
  text-align: left;
}
.sectionAboutUs-content-title1 {
  margin-bottom: 16px;
}
.sectionAboutUs-content-title2 {
  margin-top: 19px;
  margin-bottom: 14px;
}
.sectionAboutUs-content-text,
.sectionServices-item-text,
.sectionTeam__item2-quote-text,
.sectionTheySays-text {
  font-size: 18px;
  font-family: "Raleway-Regular", "MyriadRegular";
  line-height: 2;
}
.main-sectionWorks {
  height: 1076px;
  background-color: #FFFFFF;
}
.sectionWorks-title {
  padding-top: 97px;
  margin-bottom: 13px;
  font-size: 38px;
}
.sectionWorks-subtitle {
  margin-bottom: 61px;
  font-size: 17px;
}
.sectionWorks-inner {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1134px;
  height: 751px;
  margin: 0 auto;
}
.sectionWorks__item {
  max-width: 371px;
  height: 360px;
  border: 1px solid black;
}
.main-sectionServices {
  height: 1619px;
  background-color: #F9FBFB;
}
.sectionServices__item-link {
  font-size: 24px;
  font-family: "Raleway-Medium", "MyriadPRORegular";
  line-height: 0.8;
}
.sectionServices-title {
  padding-top: 94px;
  margin-bottom: 12px;
  font-size: 38px;
}
.sectionServices-subtitle {
  margin-bottom: 92px;
  font-size: 17px;
}
.sectionServices-inner {
  margin: 0 auto;
  max-width: 1138px;
  height: 1183px;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 1fr 0.37fr 1fr;
}
.sectionServices__item {
  border: 1px solid black;
}
.sectionServices__item1-title {
  margin-bottom: 38px;
}
.sectionServices__item1-text {
  margin-bottom: 38px;
}
.sectionServices__item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 653px;
  height: 423px;
}
.sectionServices__item1-inner {
  max-width: 470px;
  height: 304px;
  margin-top: 64px;
  margin-left: 67px;
}
.sectionServices__item2 {
  max-width: 475px;
  height: 423px;
}
.sectionServices__item2-inner {
  max-width: 312px;
  height: 180px;
  margin-top: 184px;
  margin-left: 67px;
}
.sectionServices__item3 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 653px;
  height: 372px;
}
.sectionServices__item3-inner {
  max-width: 428px;
  height: 151px;
  margin-top: 165px;
  margin-left: 65px;
}
.sectionServices__item3-title {
  margin-bottom: 27px;
}
.sectionServices__item3-text {
  margin-bottom: 55px;
}
.sectionServices__item4 {
  max-width: 475px;
  height: 372px;
}
.sectionServices__item4-inner {
  max-width: 305px;
  height: 152px;
  margin-top: 163px;
  margin-left: 66px;
}
.sectionServices__item4-title {
  margin-bottom: 27px;
}
.sectionServices__item4-text {
  margin-bottom: 55px;
}
.sectionServices__item5 {
  max-width: 473px;
  height: 371px;
}
.sectionServices__item5-inner {
  max-width: 276px;
  height: 183px;
  margin-top: 130px;
  margin-left: 64px;
}
.sectionServices__item5-title {
  margin-bottom: 28px;
}
.sectionServices__item5-text {
  margin-bottom: 60px;
}
.sectionServices__item6 {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  max-width: 652px;
  height: 371px;
}
.sectionServices__item6-inner {
  max-width: 403px;
  height: 184px;
  margin-top: 130px;
  margin-left: 69px;
}
.sectionServices__item6-title {
  margin-bottom: 28px;
}
.sectionServices__item6-text {
  margin-bottom: 62px;
}
.main-sectionTeam {
  height: 1206px;
  background-color: #FFFFFF;
  border: 1px solid black;
}
.main-sectionTeam-title {
  padding-top: 92px;
  margin-bottom: 11px;
  font-size: 38px;
}
.main-sectionTeam-subtitle {
  margin-bottom: 92px;
  font-size: 17px;
}
.main-sectionTeam-inner {
  margin: 0 auto;
  max-width: 1135px;
  height: 892px;
  display: grid;
  grid-gap: 11px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.sectionTeam__item {
  // width: 371px;
  // height: 360px;
  border: 1px solid black;
}
.sectionTeam__item2 {
  position: relative;
}
.sectionTeam__item2-quote {
  width: 335px;
  height: 241px;
  position: absolute;
  background-color: #6FF6EB;
  margin: 138px 13px 11px 14px;
}
.sectionTeam__item2-quote:after {
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 29px solid #6FF6EB;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  left: 10%;
  top: -28px;
  transform: translateX(-50%);
}
.sectionTeam__item2-quote-inner {
  max-width: 243px;
  height: 50px;
  margin-top: 43px;
  margin-left: 38px;
}
.sectionTeam__item2-quote-title,
.sectionTheySays-title {
  font-family: "Merriweather-Bold", "MyriadProRegular";
  // margin-top: 43px;
  margin-bottom: 23px;
}
.sectionTeam__item2-quote-title-span,
.sectionTheySays-title-span {
  font-family: "Merriweather-Italic", "MyriadProRegular";
}
.sectionTeam__item2-quote-text {
  margin-bottom: 28px;
}
.sectionTeam__item2-social {
 width: 88px;
 height: 13px;
}
.sectionTeam__item2-social_list {
  display: flex;
}
.main-sectionTheySays {
  height: 924px;
  background-color: #F9FBFB;
  border: 1px solid black;
}
.main-sectionTheySays-title {
  padding-top: 92px;
  margin-bottom: 11px;
  font-size: 38px;
}
.main-sectionTheySays-subtitle {
  margin-bottom: 101px;
  font-size: 17px;
}
.main-sectionTheySays-inner {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 1122px;
}
.main-sectionTheySays-content-inner {
  max-width: 499px;
  height: 192px;
  margin-top: 101px;
  margin-left: 86px;
}
.sectionTheySays-slader1 {
  background-color: #EAEBED;
  position: relative;
  width: 394px;
  height: 363px;
}
.sectionTheySays-slader2 {
  position: absolute;
  width: 320px;
  height: 411px;
  border: 1px solid black;
  top: -25px;
  left: 9%;
}
.main-sectionTheySays-content {
  background-color: #EAEBED;
  width: 667px;
  height: 363px;
}
.footer {
  height: 1403px;
  border: 1px solid black;
}
.footer-inner {
  display: flex;
  justify-content: space-around;
  padding-top: 380px;
  max-width: 1135px;
  margin: 0 auto;
  margin-bottom: 123px;
}
.in-touch-form {
  width: 615px;
  height: 461px;
  background-color: #445661;
}
fieldset {
  border: none;
  padding: 0;
  margin-top: 47px;
  margin-left: 35px;
}
input{
  font-family: "Raleway-Regular", "MyriadProRegular";
  width: 550px;
  height: 35px;
  font-size: 9pt;
  padding-left: 14px;
  background: #445661;
  border-bottom: 1px solid #bebebe;
  border-top: none;
  border-left: none;
  border-right: none;
}
input[type="text"] {
  margin-top: -7px;
  margin-bottom: 16px;
}
input[type="email"] {
  margin-top: -1px;
  margin-bottom: 23px;
}
input[name="subject"] {
  margin-bottom: 16px;
  padding-left: 14px;
}
textarea {
  font-family: "Raleway-Regular", "MyriadProRegular";
  width: 550px;
  height: 124px;
  font-size: 9pt;
  padding-top: 8px;
  padding-left: 14px;
  resize: none;
  background: #445661;
  border-bottom: 1px solid #bebebe;
  border-top: none;
  border-left: none;
  border-right: none;
}
.button-submit {
  margin-top: 38px;
  width: 244px;
  height: 53px;
  border: none;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  background: #6EEEE4;
  font-size: 24px;
  font-family: "Montserrat-Regular", "MyriadProRegular";
}
.footer-desc {
  width: 501px;
  height: 462px;
  background-color: #445661;
}
.footer-adress {
  margin-top: 28px;
  margin-bottom: 17px;
  font-size: 18px;
  font-family: "Raleway-Regular", "MyriadRegular";
  color: #B5BCC0;
}
.footer-adress li{
  list-style-type: none;
}
.footer-adress li:nth-child(4) {
  margin-bottom: 20px;
}
.footer-map {
  max-width: 455px;
  height: 224px;
  background-color: #ffffff;
  margin: 0 auto;

}
.footer-end {
  height: 317px;
  background-color: #262B2E;
}
.footer-end-title {
  padding-top: 71px;
  margin-bottom: 14px;
  text-align: center;
  color: #D4D5D5;
  font-size: 21px;
  font-family: "Raleway-Regular", "MyriadRegular";
}
.footer-end-socialList {
  display: flex;
  justify-content: space-around;
  max-width: 203px;
  margin: 0 auto;
  padding: 0;
}
.footer-end-socialList li {
  width: 47px;
  height: 41px;
  background-color: #6EEEE4;
  list-style-type: none;
}


