.modal {
  display: block;
  width: 400px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: wheat;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
  display: none;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}
.modal__guts {
  position: absolute;
  background: #ffffff;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
  display: flex;
  border: 4px solid #6FF6EB;
}
.modal__guts--img {
  width: 100%;
}
@media (max-width: 600px) {
  .modal {
    width: 60%;
    height: 40%;
  }
}
