@import './styles/fonts.scss';

body {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  background: no-repeat center center;
  background-image: url("./assets/images/background.jpg");
}
.container {
  width: 100%;
  overflow: hidden;
}
h1, h2, h3 {
  margin: 0;
  text-align: center;
}
.header {
  height: 807px;
  position: relative;
  background-color: #EFF0F2;
  font-family: "Montserrat-Bold", "MyriadProRegular";
}
.header__section {
  margin: 0 auto;
  display: flex;
  max-width: 1138px;
  justify-content: space-between;
  align-items: center;
  padding-top: 62px;
  margin-bottom: 192px;
}
.logo {
  width: 102px;
  height: 39px;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  &--span {
    font-size: 19px;
    color: #77EFE5;
  }
}
.logo__caption {
  font-size: 17px;
}
.nav {
  margin-top: 10px;
}
.nav--trigger {
  display: inline-block;
  margin: 3px;
  cursor: pointer;
}
.nav--trigger i {
  display: block;
  width: 30px;
  height: 5px;
  margin: 4px auto;
  background: #222;
}
.header__caption {
 margin-bottom: 142px;
}
.caption {
  font-size: 45px;
  letter-spacing: 1.8px;
  &--span {
    background-color: #77EFE5;
    font-family: "Montserrat-Bold", "MyriadProRegular";
  }
}
.header__button {
  display: block;
  margin: auto;
  width: 232px;
  height: 53px;
  border: 2px solid black;
  font-size: 18px;
  font-family: "Montserrat-Regular", "MyriadRegular";
  letter-spacing: 2px;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  &:hover {
    cursor: pointer;
    border: 2px solid #6ff4e9;
    color: #6ff4e9;
    transform: rotate(360deg);
  }
}
.header--icon {
  width: 75px;
  height: 92px;
  position: absolute;
  left: 78%;
  top: 72%;
  background: no-repeat center center;
  background-image: url("./assets/images/glass.png");
}
.title {
  font-size: 38px;
  font-family: "Montserrat-Bold", "MyriadProRegular";
  text-align: center;
  line-height: 0.8;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}
.subtitle {
  font-size: 18px;
  font-family: "Merriweather-Regular", "MyriadRegular";
  color: #5f5f5f;
  text-align: center;
  line-height: 0.9;
  word-spacing: 5px;
  letter-spacing: 0.5px
}
.aboutus {
  height: 986px;
  background-color: #F8FAFA;
}
.aboutus__title {
  padding-top: 127px;
  margin-bottom: 15px;
  margin-left: 17px;
}
.aboutus__subtitle {
  margin-bottom: 152px;
}
.aboutus__inner {
  display: flex;
  justify-content: space-between;
  max-width: 1066px;
  margin: 0 auto;
}
.aboutus__slider {
  margin-top: 30px;
  position: relative;
  width: 479px;
  height: 412px;
  background-color: #EDEEF0;
}
.aboutus__content {
  max-width: 474px;
}
.aboutus__content__title1,
.aboutus__content__title2,
.items-know-more__title,
.items-description__title {
  font-size: 20px;
  font-family: "Merriweather-Bold", "MyriadProRegular";
  line-height: 0.8;
  letter-spacing: 1.3px;
  text-align: left;
}
.aboutus__content__title1 {
  margin: 0;
  margin-bottom: 24px;
}
.aboutus__content__title2 {
  font-size: 17px;
  margin-top: 19px;
  margin-bottom: 20px;
}
.aboutus__content__text,
.items-description__text,
.quote__text,
.content__text {
  font-size: 16px;
  font-family: "Raleway-Regular", "MyriadRegular";
  line-height: 28px;
  letter-spacing: 1px;
  word-spacing: 0.4px;
  margin: 0;
}
.aboutus__content__text {
  margin-bottom: 36px;
}
.works {
  height: 1163px;
  background-color: #ffffff;
}
.works__title {
  padding-top: 125px;
  margin-left: 38px;
  margin-bottom: 16px;
}
.works__subtitle {
  margin-bottom: 120px;
  font-size: 17px;
}
.works__inner {
  display: grid;
  grid-column-gap: 14px;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1134px;
  min-height: 751px;
  margin: 0 auto;
}
.works__item {
  max-width: 371px;
  height: 360px;
  background: no-repeat center center;
  &:hover {
    max-width: 369px;
    height: 358px;
    cursor: pointer;
    border: 2px solid #6FF6EB;
  }
}
.works__item1 {
  background-image: url("./assets/images/work1.jpg");
}
.works__item2 {
  background-image: url("./assets/images/work2.jpg");
}
.works__item3 {
  background-image: url("./assets/images/work3.jpg");
}
.works__item4 {
  background-image: url("./assets/images/work4.jpg");
}
.works__item5 {
  background-image: url("./assets/images/work5.jpg");
}
.works__item6 {
  background-image: url("./assets/images/work6.jpg");
}
.services {
  min-height: 1619px;
  background-color: #F9FBFB;
}
.services__title {
  padding-top: 123px;
  margin-bottom: 14px;
}
.services__subtitle {
  margin-bottom: 122px;
  font-size: 17px;
}
.theysays {
  min-height: 924px;
  background-color: #F9FBFB;
}
.theysays__title {
  padding-top: 118px;
  margin-bottom: 14px;
}
.theysays__subtitle {
  margin-bottom: 161px;
  font-size: 17px;
}
.theysays__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1136px;
}
.theysays__slader__inner {
  position: relative;
  width: 393px;
  height: 362px;
  background-color: #EAEBED;
  border-radius: 3px;
}
.content {
  position: relative;
  background-color: #eaebed;
  width: 666px;
  height: 362px;
  border-radius: 3px;
}
.footer {
  min-height: 1403px;
  &--brands {
    margin: 0 auto;
    margin-top: 108px;
    margin-bottom: 225px;
    max-width: 1133px;
    height: 172px;
    background: no-repeat center center;
    background-image: url("./assets/images/brands.png");
  }
}
.footer__inner {
  display: flex;
  justify-content: space-around;
  max-width: 1162px;
  margin: 0 auto;
  margin-bottom: 123px;
}
.form {
  width: 615px;
  height: 461px;
  background-color: rgba($color: #445661, $alpha: 0.7);
}
fieldset {
  border: none;
  padding: 0;
  margin-top: 42px;
  margin-left: 29px;
}
input,
textarea {
  font-family: "Raleway-Regular", "MyriadProRegular";
  width: 550px;
  height: 35px;
  font-size: 15px;
  line-height: 51px;
  padding-left: 5px;
  color: #B5BCC0;
  background: rgba($color: #445661, $alpha: 0);
  border-bottom: 1px solid #B5BCC0;
  border-top: none;
  border-left: none;
  border-right: none;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[name="subject"]::placeholder,
textarea::placeholder {
  color: #B5BCC0;
 }
input[type="text"] {
  margin-top: -7px;
  margin-bottom: 24px;
  height: 39px;
}
input[type="email"] {
  margin-bottom: 8px;
}
input[name="subject"] {
  margin-bottom: 18px;
  padding-left: 6px;
}
textarea {
  height: 119px;
  padding-top: 8px;
  resize: none;
}
.button-submit {
  margin-top: 35px;
  margin-left: 2px;
  width: 244px;
  height: 53px;
  border: none;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  background: #6EEEE4;
  font-family: "Montserrat-Regular", "MyriadProRegular";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.button-submit:hover {
  cursor: pointer;
  background: #bebebe;
  transform: rotate(360deg);
}
.footer__desc {
  width: 500px;
  height: 461px;
  background: rgba($color: #445661, $alpha: 0.7);
}
.footer__adress {
  margin-top: 31px;
  margin-bottom: 23px;
  padding-left: 32px;
  font-size: 15px;
  line-height: 24px;
  font-family: "Raleway-Regular", "MyriadRegular";
  color: #B5BCC0;
}
.footer__adress li{
  list-style-type: none;
}
.footer__adress li:nth-child(4) {
  margin-bottom: 20px;
}
.footer__map {
  max-width: 455px;
  height: 224px;
  background-color: #ffffff;
  background: no-repeat center center;
  background-image: url("./assets/images/map.jpg");
  margin: 0 auto;
}
.end {
  height: 317px;
  background-color: #262B2E;
}
.end__title {
  padding-top: 85px;
  margin-bottom: 14px;
  text-align: center;
  color: #D4D5D5;
  font-size: 16px;
  line-height: 25px;
  font-family: "Raleway-Regular", "MyriadRegular";
}
.end__socialList {
  display: flex;
  justify-content: space-around;
  max-width: 214px;
  margin: 0 auto;
  padding: 0;
}
.end__socialList li {
  width: 45px;
  height: 40px;
  background-color: #3f4244;
  list-style-type: none;
  transition: .5s;
  &:hover {
    transform: scale(1.2);
    background-color: #6eeee4;
  }
}
.end .icon--social {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 23px;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #bbb8b9;
  &:hover {
    color: #070e0d;
  }
}
@media (max-width: 1140px) {
  .aboutus__inner {
    justify-content: space-around;
  }
  .aboutus__slider {
    width: 48%;
  }
  .aboutus__content {
    width: 48%;
  }
  .theysays__inner {
    justify-content: space-around;
  }
  .theysays__slader__inner {
    width: 40%;
  }
  .content {
    width: 55%;
  }
  .form {
    width: 50%;
  }
  .footer__desc {
    width: 45%;
  }
  input,
  textarea {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .works {
    height: 1380px;
  }
  .works__inner {
    grid-template-columns: 1fr 1fr;
    grid-gap: 6px;
  }
  .main-sectionTeam-inner {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 600px) {
  .header__section {
    margin-bottom: 70px;
  }
  .header--icon {
    display: none;
  }
  .caption {
    font-size: 35px;
    margin: 0 5px;
  }
  .aboutus {
    height: auto;
  }
  .aboutus__inner {
    flex-wrap: wrap;
  }
  .aboutus__slider {
    width: 95%;
  }
  .aboutus__content {
    width: 65%;
    margin-top: 100px;
  }
  .aboutus__content__title1,
  .aboutus__content__title2 {
    line-height: normal;
    text-align: center;
  }
  .title {
    line-height: 1;
    margin-left: 0;
  }
  .subtitle {
    line-height: 1.3;
  }
  .works {
    height: auto;
  }
  .works__inner {
    grid-template-columns: 1fr;
  }
  .works__item {
    max-width: none;
    margin: 10px;
  }
  .works__item:hover {
    max-width: none;
  }
  .theysays {
    height: 1300px;
  }
  .theysays__inner {
    flex-wrap: wrap;
  }
  .theysays__slader__inner {
    width: 95%;
    margin-bottom: 12px;
  }
  .content {
    width: 95%;
    margin-top: 60px;
  }
  .footer__inner {
    flex-wrap: wrap;
  }
  .form {
    width: 90%;
    margin-bottom: 10px;
  }
  .footer__desc {
    width: 90%;
  }
}
